*{
    margin: 0;
    padding: 0;

}
body{
    
}
.head{
    top: 2px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-radius: 1px;
    /* box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24); */
    
}
nav .logo{
    margin-left: 100px;
    background-color: rgb(0, 0, 0);
    padding: 5px 25px;
    border-radius: 20px;
    color: white;
}
nav .logo h1{
    
}
main{
    /* margin: 0 15px; */
    width: 100%;
    
}
main .head{
    
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1px 70px;
    /* background-color: antiquewhite; */
}
head .text{
    background-color: antiquewhite;
    
    display: flex;
    width: 50%;
    /* left: 50px; */
    
}

main .text_box p{
    font-family: "Changa One", sans-serif;
    align-items: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-left: 100px;
    /* text-align: center; */
    
}
main .text_box p span{
    
    font-family: "Dela Gothic One", sans-serif;
    font-size: 60px;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 
    25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: transparent;
    -webkit-background-clip: text;
}
main .IMG{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}
main .IMG .IMG_box{
    margin-right: 150px;
    width: 380px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(98, 156, 206);
}
.IMG_box img{
    width: 380px;
}
.A{
    display: flex;
    height: 350px;
    align-items: center;
    
    background-color: whitesmoke;
}
.A .B{
    /* display: flex; */
    margin: 0 380px;
    align-items: center;
    text-align: center;

    justify-items: center;
}
main .about h1{
    
    font-family: "Bungee", sans-serif;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 
    25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
    margin-bottom: 14px;
}
main .about p{
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
main .icon{
    display: flex;
    text-align: center;
    justify-content: center; 
   /* margin: 0 380px; */
}
main .icon a{
    margin: 15px;
    font-size: 30px;
    transition: 0.3s;
}
main .Contact p{
    font-size: 17px;
    color: rgba(51, 51, 51, 0.452);
    text-decoration: underline;
}
main .icon a:hover{
    transform: scale(115%,115%);
}

/*.text_box span{
    position: relative;
}

.text_box span::before{
    content: 'Rat Chanvibol';
    animation: words 20s infinite;
}
.text_box span::after{
    content: '';
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: rgb(255, 255, 255);
    
    right: -8px;
    animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid black;
    }
}
@keyframes words{
    0%,20%{
        content: 'This is Rat Chanvibol';
    }
    21%,40%{
        content: "I'm Study Business IT";
    }
    41%,60%{
        content: 'This is Rat Chanvibol ';
    }
    61%,80%{
        content: "I'm Study Business IT";
    }
    81%,100%{
        content: 'vgdv';
    }
}
@keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}*/
/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px){
    main .head{
    
        /* width: 50%; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 5px 4px;
        /* background-color: antiquewhite; */
    }
    head .text{
        width: 50%;
        /* left: 50px; */
        
    }
    
    main .text_box p{
        font-size: 30px;
        margin-left: 50px;
        /* text-align: center; */
        
    }
    main .text_box p span{
        font-size: 45px;
    }
    main .IMG{
        width: 50%;
        min-height: 33vh;
    }
    main .IMG .IMG_box{
        margin-right: 20px;
        width: 320px;
    }
    .IMG_box img{
        width: 320px;
    }
    .A .B{
        /* display: flex; */
        margin: 0 250px;
    }
    main .about h1{
        font-size: 45px;
    }
}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
    main .head{
    
        /* width: 50%; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 5px 4px;
        /* background-color: antiquewhite; */
    }
    head .text{
        width: 60%;
        /* left: 50px; */
        
    }
    
    main .text_box p{
        font-size: 27px;
        margin-left: 50px;
        /* text-align: center; */
        
    }
    main .text_box p span{
        font-size: 40px;
    }
    main .IMG{
        width: 40%;
        min-height: 35vh;
    }
    main .IMG .IMG_box{
        margin-right: 20px;
        width: 280px;
    }
    .IMG_box img{
        width: 280px;
    }
    .A .B{
        /* display: flex; */
        margin: 0 130px;
    }
    main .about h1{
        font-size: 40px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    nav .logo{
        margin-left: 10px;
        
    } 
    main .head{
        flex-direction: column;
        justify-content: center;
        /* height: 90vh; */
        margin: 5px 4px;
    }
    main .text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-items: flex-start;
        min-height: 25vh;
        /* margin-top: 25px; */
    }
    main .text_box p{
        text-align: center;
        margin-left: 0;
        font-size: 30px;
    }
    main .text_box p span{
    
        font-size: 40px;
    }
    main .IMG{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin: 0;
    }
    main .IMG .IMG_box{
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 25px;
        width: 260px;
    }
    .IMG_box img{
        width: 260px;
    }
    .A .B{
        /* display: flex; */
        margin: 0 100px;
    }
    main .about h1{
        font-size: 37px;
    }
    main .about p{
        font-size: 18px;
    }
    main .Contact p{
        font-size: 17px;
    }

}
@media (min-width: 250px) and (max-width: 575.98px){
    nav .logo{
        margin-left: 10px;
        
    } 
    main .head{
        flex-direction: column;
        justify-content: center;
        /* height: 90vh; */
        margin: 5px 4px;
    }
    main .text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-items: flex-start;
        min-height: 18vh;
        /* margin-top: 25px; */
    }
    main .text_box p{
        text-align: center;
        margin-left: 0;
        font-size: 25px;
    }
    main .text_box p span{
    
        font-size: 33px;
    }
    main .IMG{
        order: 1;
        justify-content: center;
        
        min-height: 250px;
        width: 100%;
        margin: 0;
    }
    main .IMG .IMG_box{
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 25px;
        width: 220px;
    }
    .IMG_box img{
        width: 220px;
    }
    .A .B{
        /* display: flex; */
        margin: 0 5px;
    }
    main .about h1{
        font-size: 34px;
    }
    main .about p{
        font-size: 16px;
    }
    main .Contact p{
        font-size: 17px;
    }


}
footer{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1px;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
}
footer p{
    display: flex;
    font-size: 17px;
    color:rgba(0, 0, 0, 0.479) ;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}
